<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /ngnipicba/MboaNexstar/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /ngnipicba/MboaNexstar/index.html [L]
</IfModule>
